@use "../global/" as global;

.p-item{

}

.p-item__image{
  width: 100%;
  height: max-content;
  border-radius: 4px;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
    transition: transform global.$ts-time ease-out, opacity global.$ts-time ease;
  }
}

.p-item__cat{
  margin-top: 10px;
}

.p-item__title{
  @include global.font(1000, 24, 18, 31, 100, 700);
  margin-top: 10px;
  transition: opacity global.$ts-time ease;
}

.p-item__tags{
  margin-top: 4px;
}