@use "../global/" as global;

.u-hide{
  display: block;
  @include global.mq(){
    display: none;
  }
}

.u-show{
  display: none;
  @include global.mq(){
    display: block;
  }
}

.u-hide--inline{
  display: inline-block;
  @include global.mq(){
    display: none;
  }
}

.u-show--inline{
  display: none;
  @include global.mq(){
    display: inline-block;
  }
}